<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Category</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th style="width: 200px">
                        <a class="btn btn-success" [routerLink]="['/category/0']"
                            routerLinkActive="router-link-active"><i class="fa fa-plus" aria-hidden="true"> </i>
                            Create New</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of category">
                    <td>{{ item.categoryId }}</td>
                    <td>{{ item.categoryName }}</td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/category/', item.categoryId]"
                            routerLinkActive="router-link-active">Edit</a>
                        |&nbsp;
                        <button class="btn btn-warning" (click)="onDelete(item.categoryId)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->